#login{
    background-color: green;
    width:200px;
}
.border {
    height: 200px;
    width: 300px;
    margin-top: 100px;
    margin-left: 100px;
    border: 1px solid;
    background-color: #b8959526;
}
#center{
text-align:center;
}
.btn{
   padding: 9px; 
}