body{
    margin-top:100px;
}

.font {
    font-size: 24px;
    margin-left: 28px;
    padding: 5px;
}
.font1 {
    font-size: 24px;
    margin-left: 28px;
    padding: 5px;
}
.font2 {
    font-size: 24px;
    margin-left: 28px;
    padding: 5px;
}
